source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

nuget FSharp.Core

# Client
nuget Fable.Core
nuget Feliz
nuget Feliz.Bulma
nuget Feliz.UseDeferred
nuget Fable.Elmish
nuget Fable.SimpleHttp
nuget Thoth.Json
nuget Fable.DateFunctions
nuget Feliz.Router
nuget Glutinum.Feliz.Lucide
nuget Fable.ZipJs
nuget Fable.SimpleXml
nuget Fable.Promise
nuget FsToolkit.ErrorHandling
nuget FsToolkit.ErrorHandling.AsyncSeq
nuget Fable.Browser.Url
nuget Glutinum.Fuse

github fable-compiler/fable-compiler.github.io:dev docs/scss/utilities.scss
github fsprojects/Paket src/Paket.Core/Versioning/VersionRange.fs

group Build
    source https://api.nuget.org/v3/index.json
    framework: net6.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.Environment
    nuget Fake.IO.FileSystem
    nuget Fake.DotNet.Cli
    nuget BlackFox.Fake.BuildTask
    nuget BlackFox.PathEnvironment
